 <div class="flex flex-col bg-teal-100 h-dvh">
    <!-- <div class="m-2 p-2 text-xl font-medium text-teal-800 w-auto flex justify-center"></div> -->

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleNavMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ms-5">Data Structures and Algorithms</span>
      <!-- <span class="example-spacer"></span> -->
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
    </mat-toolbar>

    

    <div class="nav-menu" [class.collapse]="!menuShown">
      <div class="m-2 p-4 bg-teal-600 text-slate-50 rounded shadow-md">
        <div class="grid grid-cols-4 gap-4">
          <div class="flex flex-col">
            <div class="text-slate-200 text-xs m-2">Linear Data Structures</div>
            <!-- <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer">Array</div> -->
            <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer" routerLink="/stack">Stack</div>
            <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer" routerLink="/queue">Queue</div>
            <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer" routerLink="/priority-queue">Priority Queue</div>
          </div>
          <div class="flex flex-col">
            <div class="text-slate-200 text-xs m-2">Non-Linear Data Structures</div>
            <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer" routerLink="/set" >Sets</div>
            <div class="text-slate-50 hover:underline rounded m-2 cursor-pointer" routerLink="/binary-tree" >Binary Tree</div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row flex-1">
      <!-- <div class="flex-none m-2 p-2 flex flex-col justify-start">

        @for (page of pages; track $index) {
          <button class="hover:bg-teal-200 active:bg-teal-400 m-2 p-2 rounded" [routerLink]="page.routerLink">
            {{page.name}}
          </button>
        }
      </div> -->
      <div class="flex-1 m-2 p-2 bg-teal-50 rounded shadow-md h-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
 </div>


<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="ds">Data Structures</button>
  <button mat-menu-item [matMenuTriggerFor]="pgms">Programs</button>
</mat-menu>

<mat-menu #ds="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="lds">Linear Data Structures</button>
  <button mat-menu-item [matMenuTriggerFor]="nlds">Non-Linear Data Structures</button>
</mat-menu>

<mat-menu #lds="matMenu">
  <button mat-menu-item disabled>Array</button>
  <button mat-menu-item disabled>Queue</button>
  <button mat-menu-item [routerLink]="'/stack'">Stack</button>
  <button mat-menu-item disabled>Linked List</button>
</mat-menu>

<mat-menu #nlds="matMenu">
  <button mat-menu-item [routerLink]="'/set'">Sets</button>
  <button mat-menu-item disabled>Tree</button>
  <button mat-menu-item disabled>Graph</button>
</mat-menu>

<mat-menu #pgms="matMenu">
  <button mat-menu-item [routerLink]="'/palindrome'">Palindrome</button>
</mat-menu>