<div class="m-2 text-xl font-medium text-teal-600">Priority Queue</div>

<p class="text-teal-600 m-2 p-2">Each item in queue will have a priority value</p>
<p class="text-teal-600 m-2 p-2">Dequeued based on Priority</p>
<p class="text-teal-600 m-2 p-2">enqueue, dequeue, front (nextInQueue), length</p>

<input type="text" placeholder="Name" [(ngModel)]="itemName" class="m-2 outline-none p-1 rounded"/>
<input type="number" placeholder="Priority" [(ngModel)]="itemPriority" class="m-2 outline-none p-1 rounded"/>

<button class="bg-teal-600 text-slate-50 m-2 p-2 rounded" (click)="enqueue()">Add to Queue</button>
<div>
    <button class="bg-teal-600 text-slate-50 m-2 p-2 rounded" (click)="dequeue()">Remove from Queue</button>
    <button class="bg-teal-600 text-slate-50 m-2 p-2 rounded" (click)="nextInQueue()">Next in Line</button>
</div>

<div class="text-sky-600 m-2" [innerText]="result"></div>

<div class="flex flex-col">
    @for (item of queue.items; track $index) {
        <div class="text-teal-600 m-2 p-2">{{item.name}} - {{item.priority}}</div>
    }
</div>